.AppBar{
    background-color: brown;
    position: fixed;
    width: 100%;
    z-index: 1000;
    // margin-left: -2%;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items:center;
   
}
.Navbar{
    background-color: brown;
}
.FormControl{
    width: 500px;
}
input.mr-sm-2.form-control{
    width: 280%;
    margin-left: 30%;
}

.booksImage{
    width: 37px;
}
.navbar-light .navbar-brand {
    color: white;
    margin-left: 1%;
}
.cartImage{
    width: 37px;
}
.cart{
    color: white;
    margin-right: 10%;
    font: size 30%;
}
.booksss{
    margin-left: 16%;
}
.appCon{
    width: 87%;
    display: flex;
    flex-direction: row;
}
.cartContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
#cartsCounts{
    margin-top: -161%;
    margin-left: 37%;
    color: white;
    
}

#wishlistCounts{
    margin-top: -90%;
    margin-left: 37%;
}

.Wishlist{
    margin-right: 18%;
}
@media screen and (max-width: 480px) {
    .booksss {
        margin-left: -4%;
    }
    .cart {
        margin-left: 8%;
        margin-right: 2%;
    }
    .Wishlist {
        margin-right: -7%;
    }
    .cartContainer {
        margin-left: -7%;
    }
}