// .cards{
//     width: 580px;
//     height: auto;
//     flex-direction: column;
//     align-items: center;
//     flex-wrap: wrap;
//     flex-shrink: 1;
//     justify-content: space-evenly;
// }

.HomeContainers{
    justify-content: center; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.header{
    font-size:45px;
    color: brown;
}
.card-header{
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color:white;
}
.FullNameInputs{
    display: flex;
    flex-direction: row;
}
.InputFieldsss{
    display: flex;
    flex-direction: column;
}
.headers{
    background-color: brown;
}
button.btn.btn-primary{
    width: 423px;
    height: 57px;
    background-color: brown;
    font-size: 25px;
}
.Buttons{
    margin-top: 30px;
}

.image{
    width: 50px;
    height: 50px;
}
.col {
    display: grid;
    justify-content: flex-end;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}

.inputField.form-control{
    width: 300px;
    height: 57px;
}
.form-label{
    display: flex;
    align-items: center;
}
.Links{
    margin-top: 14px;
    display: flex;
    justify-content: center;
    padding-bottom: 20px; 
    font-size: 21px;
}

@media screen and (max-width: 480px) {
    .card-body{
        margin-left: 71px;

    }
    .HomeContainer{
        margin-top: 10px;
    }
    
    button.btn.btn-primary {
        width: 380px;
        height: 57px;
        background-color: brown;
        font-size: 25px;
    }

.inputField.form-control {
    width: 288px;
    height: 57px;
}
    
.InputFieldss {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}
}