.cardsssssssssss{
    width: 150%;
    height: auto;
    padding: 20px;
    margin-top: 87px;
}

.Columnsssssssss{
    margin-left: -43%;
}

.Edit{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: -19px;
    padding-left: 4px;
    margin-right: 2%;
}

.imgages{
    width: 98px;
    height: 107px;
    margin-top: 10%;
}

.Content{
    width: 67%;
}

.CartBookContainer{
    width: 100%;
    padding-bottom: 9%;
}

.buttonsss{
width: 48px;
height: 30px;
background-color: white;
}

.addedsToBag{
    width: 214px;
    background-color:blue;
    border: none;
    height: 33px;
    font-size: 12px;
    color: white;
    margin-top: 20px;
}

.cardContainerss{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.addedToBagss{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.rupeess{
    font-weight: 700;
    margin-top: 2%;
    
}
.BookNames{
    font-size: 20px;
    font-weight: 600;
}
.Authors{
    color:#BEBEBE;
    font-size: 14px;
    margin-top: 2%;

}
.Signsss{
    display: flex;
    justify-content: space-around;
    width: 54%;
    padding-top: 34px;
    padding-bottom: 6%;
}
.customerHeading{
    margin-left: 5%;
}
.CardDetails{
    width: 150%;
    height: auto;
    margin-top: 5%;
    display: flex;
    padding: 2%;
    padding-top: 3%;
}
.OrderDetails{
    width: 150%;
    height: auto;
    margin-top: 5%;
    display: flex;
    padding: 2%;
    padding-top: 3%;
}

.CardDetailss{
    width: 150%;
    height: auto;
    margin-top: 5%;
    display: flex;
    padding: 2%;
    padding-top: 3%;
}
.NamePhoneField{
display: flex;
flex-direction: row;
justify-content: space-around;
width: 79%;
padding: 19px;
}
.inputFieldAddress{
    height: 60px;
    width: 93%;
}
.ContinueButton{
    width: 140px;
    background-color:#3371B5;
    border: none;
    height: 33px;
    font-size: 12px;
    color: white;
    margin-top: 20px;
}
.ContinueButtons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}   
.MyCart{
    padding: 2%;
    font-size: larger;
    font-weight: 500;
}
.Checkout{
    width: 140px;
    background-color:#3371B5;
    border: none;
    height: 33px;
    font-size: 12px;
    color: white;
    margin-top: 20px;
}
.OrderSummary{
    padding: 2%;
    font-size: 20px;
    font-weight: 500;
   color:  #908F8F;
}
.cardOrderContainerss{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.RadioContainer{
    padding: 3%;
    margin-top: -2%;
}
.Type{
padding-bottom: 2%;
margin-left: 2%;
}


@media screen and (max-width: 480px) {
.cardsssssssssss {
    margin-left: 43%;
}

.CardDetails {
    margin-left: 43%;
    width: 151%;
    
}
.CardDetailss{
    margin-left: 43%;
}

.NamePhoneField {
    margin-left: 7%;
}
input.mr-sm-2.form-control {
    width: -7%;
    margin-left: -39%;
}
.button.dropdown-toggle.btn.btn-primary {
    width: -5%;
    margin-top: -29px;
    font-size: -1%;
    margin-left: -27%;
}
button.dropdown-toggle.btn.btn-primary{
    margin-top: -17%;
    margin-left: -9%;
}

.inputFieldAddress {
    margin-left: -28%;
}

}